*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.principal{
    width: 100%;
    height: 800px;
    background-color: black;
    background-image: url(../img/FondoAbout.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
}

.bannerPrincipal{
    background-image: url(../img/BannerAbout.jpeg);
    background-size: cover; /* Ajustar imagen al tamaño del banner */
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    position: relative;
}

.textoBanner{
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-40%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.textoBanner h1 {
    font-size: 2rem;
    margin: 0;
}

.textoBanner h2 {
    font-size: 1.2rem;
    margin: 5px 0 0 0;
}

.tarjetas{
    display: flex; 
    position: absolute;
    gap: 60px; 
    margin-top: -150px;
    padding: 20px;
    margin-left: 250px;
}

/* From Uiverse.io by alexmaracinaru */ 
.card {
    width: 300px;
    height: 400px;
    background: #3405a3;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
}
   
.card .card-border-top {
    width: 60%;
    height: 3%;
    background: #6b64f3;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}
   
.card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
   
.card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
}
   
.card .img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.card .person1{
    background-image: url(https://avatars.githubusercontent.com/u/99379514?v=4);
}

.card .person2{
    background-image: url(https://avatars.githubusercontent.com/u/75965352?s=64&v=4);
}
.card .person3{
    background-image: url(https://avatars.githubusercontent.com/u/139073605?v=4);
}

   
.card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
    background: #6b64f3;
    color: white;
    font-weight: 600;
    width: 200px;
    height: 50px;
}
   
.card button:hover {
    background: #534bf3;
}

.acercaEquipo {
    background-color: black;
    background-image: url(../img/FondoAbout.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.acercaExplicacion{
    background-color: white;
    height: 400px;
    width: 500px;
    margin-top: 50px;
    text-align: center;
    padding: 30px 0px;
}

.acercaExplicacion i{
    margin-bottom: 20px;
    animation: colors 2s linear infinite ;
}

@keyframes colors {
    0%{
        color: black;
    }
    25%{
        color: #3405a3;
    }
    50%{
        color: aliceblue;
    }
    75%{
        color: blue;
    }
    100%{
        color: black;
    }
}

.acercaExplicacion p{
    padding: 30px 30px;
}

.herramientas{
    width: 80%;
    height: 450px;
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.iconosHerramientas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center; 
    align-items: center;
    padding: 50px;
}

.iconosHerramientas i {
    font-size: 6rem; 
    animation: colors 6s linear infinite ;
}










