body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

aside {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F9C0AB;

}

header .logo img {
    height: 50px;
    margin-left: 90px;
}

header nav {
    flex: 1;
    text-align: center;
}

header .navLogo {
    list-style: none;
    display: inline-flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header .navLogo li a {
    text-decoration: none;
    color: #355F2E;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 18px;
}

.btmListaComentarios {
    background-color: #F9C0AB; /* Rosa */
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btmListaComentarios:hover {
    background-color: #F4E0AF; /* Amarillo claro */
}

/* Footer */
footer {
    background-color: #020202; /* Verde claro */
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

footer .RedesSociales {
    text-align: center;
}

footer .RedesSociales img {
    width: 100px;
    margin-bottom: 10px;
}

footer .RedesSociales i {
    margin: 0 10px;
    color: white;
    transition: all 0.3s;
}

footer .RedesSociales i:hover {
    color: #F9C0AB; /* Rosa */
}

.navFooter ul {
    list-style: none;
    padding: 0;
}

.navFooter ul li {
    margin-bottom: 10px;
}

.navFooter ul li:hover {
    color: #F4E0AF; /* Amarillo claro */
}

.About {
    text-align: center;
}

.About h3 {
    color: #F9C0AB; /* Rosa */
}

/* Comments Section */
.comments-section {
    max-width: 100%;
    padding: 20px;
    background-color: #F4E0AF;
}

.comment {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-header .user-info {
    display: flex;
    align-items: center;
}

.comment-header .user-info .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment-header .user-details h3 {
    margin: 0;
    color: #333;
}

.comment-header .user-details .user-stats {
    font-size: 14px;
    color: #777;
}

.comment-header .rating .stars {
    color: #F9C0AB; /* Rosa */
    font-weight: bold;
}

.comment-header{
    background-color: #A8CD89; 
    padding: 10px;
    border-radius: 5px;
}

.comment-body h4 {
    margin: 0;
    color: #333;
    font-weight: bold;
}

.comment-body p {
    color: #555;
}

.comment-footer {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.comment-footer p {
    color: #777;
}

html, body {
    overflow-x: hidden;
}