
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('https://png.pngtree.com/background/20230616/original/pngtree-mexican-food-and-tacos-piled-on-board-picture-image_3625823.jpg') no-repeat center center fixed;
    background-size: cover;
    background: opacity 40px;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa negra con 50% de opacidad */
    z-index: -1; /* Mantén la capa detrás del contenido */
}

header{
    background-color: #F9C0AB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    position: fixed;
    z-index: 4;
    width: 100%;

}


.logo{
    cursor: pointer;
    margin-right: auto;
}


.logo img{
    width: 60px;
    height: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.navLogo{
    list-style: none;
    margin-right: 90px;
}

.navLogo li{
    display: inline-block;
    padding: 0 20px;
}

.navLogo a{
    font-size: 20px;
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    color: #355F2E;
    text-decoration: none;
    font-weight: bold;
}

.navLogo li:hover{
    transform: scale(1.1);
}

.navLogo li a:hover{
    color: #FFB40F;
}

.main-content {

    display: flex;
    padding-top: 80px;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    align-items: center;
}

.photo-container {
    padding-top: 80px;
    position: relative;
    margin-bottom: 1rem;
}

.restaurant-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    animation: spin 4s infinite linear;
}

.animation-text {
    text-align: center;
    color: #ffcc00;
    display: flex;
    font-family: "Playwrite HU", cursive;
    position: absolute;
    top: 100%;
    animation: fade-in-text 5s forwards;
}

.animation-text span {
    font-size: 1.5rem;
    animation: fade-letter 1s ease-in-out forwards;
}

.animation-text span:nth-child(1) { animation-delay: 0s; }
.animation-text span:nth-child(2) { animation-delay: 0.1s; }
.animation-text span:nth-child(3) { animation-delay: 0.2s; }

@keyframes fade-in-text {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-letter {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.mission-section, .vision-section, .recognitions-section {
    font-family: "Lobster Two", sans-serif;
    background-color: rgba(27, 183, 3, 0.83);
    padding: 1.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
}

h2 {
    font-family: "Playwrite HU", cursive;
    margin-bottom: 1rem;
    text-align: center;
    color: #ffcc00;
}

p, ul {
    text-align: justify;
}


footer{
    background-color: #000000;
    width: 100%;
    padding: 5%;
    columns: 4;
    color: white;
}

.iconos{
    color: white;
}

.RedesSociales{
    margin-bottom: 5em;
}

.RedesSociales img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.RedesSociales i{
    margin-left: 10px;
    transition: all 0.3s;
}

.RedesSociales i:hover{
    transform: scale(1.1);
    color: #FFB40F;
}

.navFooter{
    margin-top: 40px;
    margin-bottom: 7em;
}

.navFooter h3{
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
    font-size: 25px;
}

.navFooter ul{
    list-style: none;
    margin-top: 20px;
}

.navFooter ul a{
    text-decoration: none;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;

}

.navFooter ul a li{
    margin-bottom: 12px;
    transition: all 0.3s;   
}

.navFooter ul a li:hover{
    color: #FFB40F;
}

.About{
    margin-top: 50px;
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
}

.About i{
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.About article{
    margin-left: -150px;
    text-align: center;
}

.About article h4{
    color: white;
}

.About h3{
    font-size: 20px;
}

.About a{
    margin-top: 30px;
    text-decoration: none;
    transition: all 0.3s;
    color: #F9C0AB;
    font-weight: bold;
}

.About a:hover{
    color: #a8cd89;
}


.About p{
    margin-bottom: 10px;
}




aside {
    position: fixed;
    top: 10px;
    left: 20px;
    background-color: #355F2E;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, color 0.5s;
    z-index: 5;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.btmListaComentarios{
    background-color: #355F2E;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;


}
.btmListaComentarios:hover{
    background-image: linear-gradient(90deg, #3ab714 0%, #fef8f8 50%, #ec2828 75%, #3ab714 100%);
    animation: slidernbw 5s linear infinite;
    color: #FFB40F;
}

body:has(#theme-toggle:checked) header{
    background-color: #f29f58;
}

body:has(#theme-toggle:checked) .navLogo a{
    color: #1B1833;
}

body:has(#theme-toggle:checked) .navLogo li a:hover{
    color: white;
}

body:has(#theme-toggle:checked) .btmListaComentarios{
    background-color: #1B1833;
    color: white;
}

body:has(#theme-toggle:checked) footer {
    background-color: #dd36cf;
    color: black;
}

body:has(#theme-toggle:checked) aside {
    background-color: #dd36cf;
    color: black;
}

body:has(#theme-toggle:checked) .mission-section {
    background-color: rgba(214, 6, 155, 0.83);
}

body:has(#theme-toggle:checked) .vision-section {
    background-color: rgba(214, 6, 155, 0.83);
}
body:has(#theme-toggle:checked) .recognitions-section {
    background-color: rgba(214, 6, 155, 0.83);
}