*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #F9C0AB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    position: fixed;
    z-index: 4;
    width: 100%;

}

/* Apartado para el modo oscuro*/
aside {
    position: fixed;
    top: 10px;
    left: 20px;
    background-color: #355F2E;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, color 0.5s;
    z-index: 5;
    color: #a8cd89;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

/* Hasta aqui es el checkbox*/

body:has(#theme-toggle:checked) header{
    background-color: #f29f58;
}

body:has(#theme-toggle:checked) .navLogo a{
    color: #1B1833;
}

body:has(#theme-toggle:checked) .navLogo li a:hover{
    color: white;
}

body:has(#theme-toggle:checked) .btmListaComentarios{
    background-color: #1B1833;
    color: white;
}

body:has(#theme-toggle:checked) .btmBanner{
    background-color: #1B1833;
    color: white;
}

body:has(#theme-toggle:checked) aside {
    background-color: #1B1833;
    color: white;
}


body:has(#theme-toggle:checked) .comentarios {
    background-color: #441752;
}

body:has(#theme-toggle:checked) .comentarios h3{
    color: #ab4459;
}

body:has(#theme-toggle:checked) .comentarios h4{
    color: #ab4459;
}

body:has(#theme-toggle:checked) .comentarioTarjeta{
    background-color: #f29f58;
}

body:has(#theme-toggle:checked) .textoComentarios h5{
    color: #1B1833;
}

body:has(#theme-toggle:checked) .textoComentarios p{
    color: #1B1833;
}

body:has(#theme-toggle:checked) .historia{
    background-color: #1B1833;
}

body:has(#theme-toggle:checked) .textHistoria h3{
    color: #f29f58;
}

body:has(#theme-toggle:checked) .textHistoria h4{
    color: #f29f58;
}

body:has(#theme-toggle:checked) .textHistoria p{
    color: #f29f58;
}

body:has(#theme-toggle:checked) .textHistoria .btmListaComentarios{
    background-color: #f29f58;
}

body:has(#theme-toggle:checked) footer{
    background-color: #441752;
}

body:has(#theme-toggle:checked) .RedesSociales i{
    color: #ab4459;
}

body:has(#theme-toggle:checked) .RedesSociales i:hover{
    color: white;
}

body:has(#theme-toggle:checked) .navFooter h3{
    color: #f29f58;
}

body:has(#theme-toggle:checked) .navFooter a{
    color: #ab4459;
}

body:has(#theme-toggle:checked) .navFooter a li:hover{
    color: white;
}

body:has(#theme-toggle:checked) .About h3{
    color: #f29f58;
}

body:has(#theme-toggle:checked) .About i{
    color: #ab4459;
}

body:has(#theme-toggle:checked) .About article{
    color: #ab4459;
}

body:has(#theme-toggle:checked) .About article h4{
    color: #ab4459;
}

body:has(#theme-toggle:checked) .About article a{
    color: white;
}

body:has(#theme-toggle:checked) .About article a:hover{
    color: #f29f58;
}

/* Finarl*/


.logo{
    cursor: pointer;
    margin-right: auto;
}


.logo img{
    width: 60px;
    height: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.navLogo{
    list-style: none;
    margin-right: 90px;
}

.navLogo li{
    display: inline-block;
    padding: 0 20px;
}

.navLogo a{
    font-size: 20px;
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    color: #355F2E;
    text-decoration: none;
    font-weight: bold;
}

.navLogo li:hover{
    transform: scale(1.1);
}

.navLogo li a:hover{
    color: #FFB40F;
}

.banner{
    position: relative; /* Posición relativa para que los hijos puedan usar posiciones absolutas */
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.imageBanner{
    background-image: url(../img/Banner.jpeg);
    background-size: cover; /* Ajustar imagen al tamaño del banner */
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 40%;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 2;
}

.nombreBanner{
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    z-index: 3;
}

.nombreBanner h1{
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-size: 90px;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: -15px;
    
}

.nombreBanner h2{
    font-size: 50px;
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    margin-bottom: 10px;
}

.nombreBanner h3{
    font-size: 20px;
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    border-bottom: 1px solid white;
}

.btmBanner {
    margin-top: 20px;
    color: #a8cd89;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    height: 70px;
    transition: 0.3s;
    font-size: 30px;
    background-color: #355F2E;
    font-weight: bold;
}

.btmBanner:hover{
    background-image: linear-gradient(90deg, #3ab714 0%, #fef8f8 50%, #ec2828 75%, #3ab714 100%);
    animation: slidernbw 5s linear infinite;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #FFB40F;
}

.comentarios{
    background-color: #a8cd89;
    justify-content: center;
    align-items: center;
    padding: 40px 4%;
    height: 600px;
}


.comentarios h3 , h4{
    color: #355F2E;
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    font-weight: bold;

}

.listaComentarios{
    display: flex;
    margin-top: 40px;
}


.comentarioTarjeta{
    width: 500px;
    height: 300px;
    margin-right: 50px;
}

.comentarioTarjeta h3{
    padding: 20px 20px;
    color: #f4e0af;
    font-size: 20px;
    text-align: center;
}


.articulo{
    display: flex;
    padding: 0 20px;
}


.imageComentarios img{
    width: 110px;
    height: 130px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover
}

#tarjeta1{
    background-color: #355F2E;
}

#tarjeta2{
    background-color: #355F2E;
}

#tarjeta3{
    background-color: #355F2E;
}

.coment{
    text-align: center;
    margin-top: 30px;
}

.btmListaComentarios{
    background-color: #355F2E;
    border-radius: 4px;
    color: #a8cd89;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;


}

.btmListaComentarios:hover{
    background-image: linear-gradient(90deg, #3ab714 0%, #fef8f8 50%, #ec2828 75%, #3ab714 100%);
    animation: slidernbw 5s linear infinite;
    color: #FFB40F;

}

@keyframes slidernbw {
    to {
     background-position: 20vw;
    }
}
.historia{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 400px;
    padding: 40px 40px;
    background-color: #f4e0af;
}


.imageHistoria{
    background-image: url(../img/Historia.jpeg);
    background-size: cover;
    background-position: center; 
    height: 90%;
    width: 80%;
    margin-right: 50px;
}

.textHistoria{
    text-align: center;
}


.textHistoria h4{
    color: #355F2E;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
}

.textHistoria h3{
    color: #355F2E;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
}

.textHistoria p{
    margin-bottom: 20px;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

.textoComentarios{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13px;
}

.textoComentarios h5{
    color: white;
    font-size: 15px;
}

.textoComentarios p{
    color: white
}


footer{
    background-color: #000000;
    width: 100%;
    padding: 5%;
    columns: 4;
    color: white;
}

.iconos{
    color: white;
}

.RedesSociales{
    margin-bottom: 5em;
}

.RedesSociales img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.RedesSociales i{
    margin-left: 10px;
    transition: all 0.3s;
}

.RedesSociales i:hover{
    transform: scale(1.1);
    color: #FFB40F;
}

.navFooter{
    margin-top: 40px;
    margin-bottom: 7em;
}

.navFooter h3{
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
    font-size: 25px;
}

.navFooter ul{
    list-style: none;
    margin-top: 20px;
}

.navFooter ul a{
    text-decoration: none;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;

}

.navFooter ul a li{
    margin-bottom: 12px;
    transition: all 0.3s;   
}

.navFooter ul a li:hover{
    color: #FFB40F;
}

.About{
    margin-top: 50px;
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
}

.About i{
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.About article{
    margin-left: -150px;
    text-align: center;
}

.About article h4{
    color: white;
}

.About h3{
    font-size: 20px;
}

.About a{
    margin-top: 30px;
    text-decoration: none;
    transition: all 0.3s;
    color: #F9C0AB;
    font-weight: bold;
}

.About a:hover{
    color: #a8cd89;
}


.About p{
    margin-bottom: 10px;
}