*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    position: fixed;
    z-index: 4;
    width: 100%;

}

.logo{
    cursor: pointer;
    margin-right: auto;
}


.logo img{
    width: 60px;
    height: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.navLogo{
    list-style: none;
    margin-right: 90px;
}

.navLogo li{
    display: inline-block;
    padding: 0 20px;
}

.navLogo a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.navLogo li:hover{
    transform: scale(1.1);
}

.navLogo li a:hover{
    color: #FFB40F;
}

.banner{
    position: relative; /* Posición relativa para que los hijos puedan usar posiciones absolutas */
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.imageBanner{
    background-image: url(../img/Banner.jpeg);
    background-size: cover; /* Ajustar imagen al tamaño del banner */
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 40%;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); /* Capa negra con opacidad del 50% */
    z-index: 2;
}

.nombreBanner{
    position: absolute; /* Posiciona encima de la imagen */
    top: 70%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar */
    text-align: center;
    color: white; 
    z-index: 3;
}

.comentarios{
    background-color: #000000;
    justify-content: center;
    align-items: center;
    padding: 70px 4%;
    height: 450px;
}

.comentarios h3 , h4{
    color: white;
}

.listaComentarios{
    display: flex;
    margin-top: 40px;
}

.comentarioTarjeta{
    width: 500px;
    height: 250px;
    margin-right: 50px;
}

.comentarioTarjeta h3{
    padding: 20px 20px;
    color: #000000;
}

.articulo{
    display: flex;
    padding: 0 20px;
}


.imageComentarios img{
    width: 120px;
    height: 130px;
    border-radius: 50%;
    margin-right: 20px;
}

#tarjeta1{
    background-color: #339900;
}

#tarjeta2{
    background-color: white;
}

#tarjeta3{
    background-color: #D40000;
}

.historia{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 400px;
    padding: 40px 40px;
}


.imageHistoria{
    background-image: url(../img/Historia.jpeg);
    background-size: cover; /* Ajusta la imagen al contenedor */
    background-position: center; /* Centra la imagen */
    height: 90%;
    width: 80%;
    margin-right: 50px;
}

.textHistoria{
    text-align: center;
}


footer{
    background-color: #000000;
    width: 100%;
    padding: 5%;
    columns: 4;
    color: white;
}

.iconos{
    color: white;
}

.RedesSociales img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.RedesSociales i{
    margin-left: 10px;
    transition: all 0.3s;
}

.RedesSociales i:hover{
    transform: scale(1.1);
    color: #FFB40F;
}

.navFooter{
    margin-top: 40px;
}
.navFooter ul{
    list-style: none;
    margin-top: 20px;
}

.navFooter ul a{
    text-decoration: none;
    color: white;
}

.navFooter ul a li{
    margin-bottom: 12px;
    transition: all 0.3s;   
}

.navFooter ul a li:hover{
    color: #FFB40F;
}

.About{
    margin-top: 60px;
}

.About i{
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.About article{
    margin-left: -150px;
    text-align: center;
}

.About a{
    margin-top: 30px;
    text-decoration: none;
    transition: all 0.3s;
}

.About a:hover{
    color: #FFB40F;
}



.About p{
    margin-bottom: 10px;
}