body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    font-family: 'Arial', sans-serif;
}

.main-container {
    display: flex;
    width: 800px;
    max-width: 90%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container {
    flex: 1;
    background-color: #ece7e7;
    padding: 40px;
    color: rgb(46, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */
.login-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(46, 43, 43);
}

/* Login form */
.login-form {
    width: 100%; /* Formulario ocupa todo el ancho del contenedor */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form label {
    font-size: 14px;
    color: rgb(46, 43, 43);
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre label y input */
    display: block; /* Asegura que el label esté en línea separada */
}

/* Inputs */
.login-form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    text-align: left; /* Placeholder y texto alineados */
}

.login-form input::placeholder {
    color: #ccc;
    font-size: 14px;
}

.login-form input:focus {
    outline: none;
    border-bottom: 2px solid orange;
}

/* Submit button */
button {
    background-color: #ff4500;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6347;
}
